@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    /* background-color: teal; */
    border-radius: 45px;
}

.container  {
    width: auto;
    height: auto;
    display: grid;
    font-size: 16px;
    font-family: 'Libre Baskerville', sans-serif;
    grid-template-columns: 350px repeat(2, 1fr);
    grid-template-rows: 50px 100px 1fr 10px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    grid-auto-flow: column;
    /* background-color: teal; */
}

.container div {
    padding: 10px;
    
}

.container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(128, 119, 119);
    text-transform: uppercase;
}

.header  {
    grid-row-start: 1;
    grid-row-end: span 3;
    border-right: 1px solid gray;
    background-color: teal;
}

.experience {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}


.profile-summary {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-content: center;
}

.contacts {
    align-items: end;
    justify-content: end;
    grid-row-start: 4;
    grid-row-end: span 5;
    border-right: 1px solid gray;
    border-top: 1px solid transparent;
    background-color: rgb(25, 40, 90);
}

#progress {
    background: rgb(199, 189, 189);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

.progress-html:after {
    content: 'HTML - 90%';
    display: block;
    background: rgb(17, 17, 29);
    width: 90%;
    height: 20px;
    border-radius: 9px;
    text-decoration: white;
}

.progress-git:after {
    content: 'GIT - 99%';
    display: block;
    background: rgb(17, 17, 29);
    width: 99%;
    height: 100%;
    border-radius: 9px;
    text-decoration: white;
}

.progress-css:after {
    content: 'CSS - 85%';
    display: block;
    background: rgb(17, 17, 29);
    width: 85%;
    height: 100%;
    border-radius: 9px;
    text-decoration: white;
}

.progress-javascript:after {
    content: 'JavaScript - 88%';
    display: block;
    background: rgb(17, 17, 29);
    width: 88%;
    height: 100%;
    border-radius: 9px;
    text-decoration: white;
}

.progress-nextjs:after {
    content: 'Nextjs - 60%';
    display: block;
    background: rgb(17, 17, 29);
    width: 60%;
    height: 100%;
    border-radius: 9px;
    text-decoration: white;
}

.progress-react:after {
    content: 'React - 75%';
    display: block;
    background: rgb(17, 17, 29);
    width: 75%;
    height: 100%;
    border-radius: 9px;
    text-decoration: white;
}

.text-white {
    color: white;
}

.experience {
    grid-row-start: 3;
    grid-row-end: 4;
    border-top: 1px solid gray;
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;   
    border-top: 1px solid gray;
}

a {
    color: brown;
    padding: 5px;
    border: 1px solid transparent;
    text-decoration: none;
}

address {
    color: brown;
}

a:hover {
    color: aqua;
}
.footer p {
    
}